<div class="row profile1">
  <aside class="col-md-4">
    <section class="user_info">
      <h3 class="h1title"> マイページ </h3>
      <h1 class = "cp_h1title">
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>