/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";


// ヘッダー

*, *:before, *:after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.carnavi {
	// padding: px;
	background-color: #fff;
	border-bottom: 1px solid red;
}

#icon {
	width: 160px;
	height: 60px;
	padding-left: 20px;
}

ol, ul {
	list-style: none;
}
a {
	text-decoration: none;
}

.cp_offcm01 {
	position: absolute;
	top: 3px;
	right: 10px;
	display: inline-block;
}

// メニュー

.cp_offcm01 .cp_menu {
	position: fixed;
	top: 0;
	right: -100vw;
	width: 250px;
	height: 100%;
	cursor: pointer;
	-webkit-transition: 0.53s transform;
	        transition: 0.53s transform;
	-webkit-transition-timing-function: cubic-bezier(.38,.52,.23,.99);
	        transition-timing-function: cubic-bezier(.38,.52,.23,.99);
	background-color: #fff;
}
.cp_offcm01 .cp_menu ul {
	margin: 0;
	padding: 0;
}
.cp_offcm01 .cp_menu li {
	list-style: none;
}
.cp_offcm01 .cp_menu li a {
	display: block;
	padding: 20px;
	text-decoration: none;
	color: red;
	border-bottom: 1px solid red;
	font-weight: bold;
}

.cp_offcm01 #cp_toggle01 {
	position: absolute;
	display: none;
	opacity: 0;
}
.cp_offcm01 #cp_toggle01:checked ~ .cp_menu {
	-webkit-transform: translateX(-100vw);
	        transform: translateX(-100vw);
}

// メニューボタン

.cp_offcm01 #cp_toggle01 ~ label {
	display: block;
	padding: 0.5em;
	cursor: pointer;
	-webkit-transition: 0.5s transform;
	        transition: 0.5s transform;
	-webkit-transition-timing-function: cubic-bezier(.61,-0.38,.37,1.27);
	        transition-timing-function: cubic-bezier(.61,-0.38,.37,1.27);
	text-align: center;
	color: red;
}
.cp_offcm01 #cp_toggle01:checked ~ label {
	-webkit-transform: translateX(-250px);
	        transform: translateX(-250px);
}
.cp_offcm01 #cp_toggle01 ~ label::before {
	font-family: 'FontAwesome';
	content: '\f0c9';
	font-size: 2em
}
.cp_offcm01 #cp_toggle01:checked ~ label::before {
	content: '\f00d';
}

// フッター

.wrapper {
    min-height: 100vh;
    position: relative;
    padding-bottom: 120px;
    box-sizing: border-box;
}

footer {
    width: 100%;
    background-color: #424242;
    color: #fff;
    text-align: center;
    padding: 30px 0;

 	position: absolute;
    bottom: 0;
}

// ボディ

body {
	background-color: #FAFAFA;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* flash の分岐 */

.flashes-success {
	font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
	position: relative;
	color: red;
	text-align: center;
	padding: 0.3em 0.3em 0.3em 0.8em;
	background: #fffff2;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
	        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}
.flashes-success::before,
.flashes-success::after {
	position: absolute;
	width: 0;
	height: 51.95px;
	content: '';
	-webkit-transform: rotate(-45deg);
	        transform: rotate(-45deg);
	border-width: 0 0 0 1px;
	border-style: solid;
	border-color: #e60012;
}
.flashes-success::before {
	top: -15px;
	right: 10px;
}
.flashes-success::after {
	bottom: -15px;
	left: 10px;
}

.flashes-danger {
	font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
	position: relative;
	color: red;
	text-align: center;
	padding: 0.3em 0.3em 0.3em 0.8em;
	background: #fffff2;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
	        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}
.flashes-danger::before,
.flashes-danger::after {
	position: absolute;
	width: 0;
	height: 51.95px;
	content: '';
	-webkit-transform: rotate(-45deg);
	        transform: rotate(-45deg);
	border-width: 0 0 0 1px;
	border-style: solid;
	border-color: #FAAC58;
}
.flashes-danger::before {
	top: -15px;
	right: 10px;
}
.flashes-danger::after {
	bottom: -15px;
	left: 10px;
}


ul.cp_clist {
	counter-reset:cp_clist; /*数字をリセット*/
	list-style-type: none;
	padding:0.5em;
}
ul.cp_clist li {
	position: relative;
	padding-left: 30px;
	padding: 0.5em 0.5em 0.5em 30px;
}
ul.cp_clist li::before {
	position: absolute;
	display:inline-block;
	top: 50%;
	left: 0;
	/* カウントさせる */
	counter-increment: cp_clist;
	content: counter(cp_clist);
	/*装飾*/
	padding: 0 0.2em 0 0.2em;
	background: #F4511E;
	color: #fff;
	font-weight:bold;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align:center;
	transform: translateY(-50%);
}