.tourokusuru {
    text-align: center;
    padding-top: 20px;
}

.madanokata {
    color: #848484;
}

.madanokata:hover {
    text-decoration: none;
    color: red;
}

.form-group span {
    font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
    color: red;
}

.checkchan {
    padding-top: 10px;
}

.forget {
    color: #F78181;
}

.forget:hover {
    text-decoration: none;
    color: #F78181;
}